<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="searchTask( input.value )" type="text" class="form-control" placeholder="Search task...">

            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:-20px;">
    <div class="col-12">
        <div class="card" style="background-color:#f4f6f9">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/create-task', 'new']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i> 
                        Create task
                    </button>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="card-title text-center">Open</h3>
                        <div *ngFor="let task of tasks">
                            <div *ngIf="task.status=='Open'" class="card card-outline-warning animate">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white"> <i class="fa fa-user"></i> {{ task.user.name }} </h4>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">{{ task.name }}</h3>
                                    <p class="card-text">{{ task.description }}</p>

                                    <!--Button Edit-->
                                    <button [routerLink]="['/create-task', task._id]" class="btn btn-info">
                                            <i class="fa fa-edit"></i>
                                    </button>

                                    <!--Button to change status-->
                                    <div class="btn-group" style="margin-left: 2px;">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ task.status }}
                                        </button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item pointer" (click)="changeStatusProgress(task._id)">In-Progress</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusCompleted(task._id)">Completed</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusArchived(task._id)">Archived</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <h3 class="card-title text-center">In-Progress</h3>
                        <div *ngFor="let task of tasks">
                            <div *ngIf="task.status=='In-Progress'" class="card card-outline-info">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white"><i class="fa fa-user"></i> {{ task.user.name}}</h4>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">{{ task.name }}</h3>
                                    <p class="card-text">{{ task.description }}</p>
                                    <!--Button Edit-->
                                    <button [routerLink]="['/create-task', task._id]" class="btn btn-info">
                                        <i class="fa fa-edit"></i>
                                </button>

                                    <!--Button to change status-->
                                    <div class="btn-group" style="margin-left: 2px;">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{task.status}}
                                            </button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item pointer" (click)="changeStatusOpen(task._id)">Open</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusCompleted(task._id)">Completed</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusArchived(task._id)">Archived</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="card-title text-center">Completed</h4>
                        <div *ngFor="let task of tasks">
                            <div *ngIf="task.status=='Completed'" class="card card-outline-success">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white"><i class="fa fa-user"></i> {{ task.user.name }}</h4>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">{{ task.name }}</h3>
                                    <p class="card-text">{{ task.description }}</p>
                                    <!--Button Edit-->
                                    <button [routerLink]="['/create-task', task._id]" class="btn btn-info">
                                        <i class="fa fa-edit"></i>
                                </button>

                                    <!--Button to change status-->
                                    <div class="btn-group" style="margin-left: 2px;">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{ task.status }}
                                            </button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item pointer" (click)="changeStatusOpen(task._id)">Open</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusProgress(task._id)">In-Progress</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusArchived(task._id)">Archived</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="card-title text-center">Archived</h4>
                        <div *ngFor="let task of tasks">
                            <div *ngIf="task.status=='Archived'" class="card card-outline-inverse">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white"><i class="fa fa-user"></i> {{ task.user.name }}</h4>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">{{ task.name }}</h3>
                                    <p class="card-text">{{ task.description }}</p>
                                    <!--Button Edit-->
                                    <button [routerLink]="['/create-task', task._id]" class="btn btn-info">
                                        <i class="fa fa-edit"></i>
                                </button>

                                    <!--Button to change status-->
                                    <div class="btn-group" style="margin-left: 2px;">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{ task.status }}
                                            </button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item pointer" (click)="changeStatusOpen(task._id)">Open</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusProgress(task._id)">In Progress</a>
                                            <a class="dropdown-item pointer" (click)="changeStatusCompleted(task._id)">Completed</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>